/* Coolors Exported Palette - coolors.co/edb230-d60429-b8e340-16728d-52d179 */

/* HSL */
$color1: hsla(41%, 84%, 56%, 1);
$color2: hsla(349%, 96%, 43%, 1);
$color3: hsla(76%, 74%, 57%, 1);
$color4: hsla(194%, 73%, 32%, 1);
$color5: hsla(138%, 58%, 57%, 1);

/* RGB */
$color1: rgba(237, 178, 48, 1);
$color2: rgba(214, 4, 41, 1);
$color3: rgba(184, 227, 64, 1);
$color4: rgba(22, 114, 141, 1);
$color5: rgba(82, 209, 121, 1);