<ion-app>
    <ion-menu side="start" type="overlay" #sidemenu>
        <ion-header>
          <ion-toolbar color="dark">
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item [routerLink]="['/']" routerLinkActive="router-link-active" (click)="sidemenu.close()">
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/todo']" routerLinkActive="router-link-active" (click)="sidemenu.close()">
              <ion-label>Todo List</ion-label>
            </ion-item>
            
          </ion-list>
        </ion-content>
      </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
